$fontpage: 'Gilroy', Verdana, Tahoma, sans-serif;
$fontColor: #000000;
$errorColor: #FF7262;
$customActive: #7FA1F8;
$maxWidth: 100%;
.customselect-wrapper {
    max-width: $maxWidth;
    &.customselect-multiple {
        .select-styled {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding-left: 8px;
            padding-top: 8px;
            padding-bottom: 1px;
            min-height: 40px;
            .default {
                padding: 12px;
                padding-bottom: 16px;
            }
            & > .selectvalue {
                padding: 12px;
                padding-right: 25px;
                background: rgba(127, 161, 248, 0.5);
                border-radius: 15px;
                margin-right: 10px;
                margin-bottom: 8px;
                position: relative;
                .remove-option {
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 12px;
                    background: url(./../img/icon-remove.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    cursor: pointer;
                }
            }
        }
        .select-options {
            li {
                &.active {
                    background: rgba(127, 161, 248, 0.5);
                }
            }
        }
    }
    .checked {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 0.5px solid #C4C4C4;
        border-radius: 50%;
        margin-right: 5px;
        transition: background 0.3s ease-in;
        cursor: pointer;
        vertical-align: top;
        &.active {
            background: #C4C4C4;
        }
    }
    .text {
        display: inline-block;
        max-width: calc(100% - 60px);
    }
    .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
    }
    .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 100%;
    }
    .select-styled {
        background: #FFFFFF;
        box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.03);
        border-radius: 15px;
        padding: 20px;
        font-family: $fontpage;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        max-width: $maxWidth;
        &:after {
            content:"";
            position: absolute;
            width: 8px;
            height: 15px;
            right: 20px;
            top: calc(50% - 7px);
            display: block;
            background: url(./../img/arrow-back.svg);
            transform: rotate(-90deg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in;
        }
        &.active {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            &:after {
                transform: rotate(90deg);
            }
            &.orient-top {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
        }
    }

    .select-options {
        display: none; 
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        background: #FFFFFF;
        box-shadow: 1px 5px 4px 5px rgba(0, 0, 0, 0.03);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        max-height: 220px;
        overflow: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            width: 0px;
            display: none;
        }
        &.orient-top {
            top: initial;
            bottom: 100%;
            box-shadow: 1px -5px 4px 5px rgba(0, 0, 0, 0.03);
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            
        }
        li {
            margin: 0;
            transition: all 0.2s ease-in;
            font-family: $fontpage;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: #000000;
            padding: 20px;
            border-bottom: 1px solid #F5F5F7;;
            &:first-child {
                border-top: 1px solid #F5F5F7;;
            }
            &:hover {
                background: rgba(127, 161, 248, 0.2);
            }
            // &.active {
            //     background: #eeeeee;
            // }
            &[rel="hide"] {
                display: none;
            }
        }
    }
}