.intl-tel-input { position: relative; }
.intl-tel-input .hide { display: none; }
.intl-tel-input .flag-dropdown { position: absolute; z-index: 1; cursor: pointer; }
.intl-tel-input .flag-dropdown .selected-flag { margin: 1px; padding: 6px 16px 6px 6px; }
.intl-tel-input .flag-dropdown .selected-flag:hover { background-color: rgba(0, 0, 0, 0.05); }
.intl-tel-input .flag-dropdown .selected-flag .down-arrow { top: 6px; position: relative; left: 20px; width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid black; }
.intl-tel-input .flag-dropdown .country-list { list-style: none; padding: 0; margin: 0; z-index: 1; overflow-y: scroll; box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); background-color: white; border: 1px solid #cccccc; position: absolute; top: 29px; width: 330px; max-height: 200px; }
.intl-tel-input .flag-dropdown .country-list .divider { padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px solid #cccccc; }
.intl-tel-input .flag-dropdown .country-list .country { line-height: 16px; padding: 4px 10px; }
.intl-tel-input .flag-dropdown .country-list .country .dial-code { color: #999999; }
.intl-tel-input .flag-dropdown .country-list .country.highlight { background-color: rgba(0, 0, 0, 0.05); }
.intl-tel-input .flag-dropdown .country-list .flag { display: inline-block; vertical-align: bottom; }
.intl-tel-input .flag-dropdown .country-list .flag, .intl-tel-input .flag-dropdown .country-list .country-name { margin-right: 6px; }
.intl-tel-input input { box-sizing: border-box; -moz-box-sizing: border-box; height: 30px; padding-left: 47px; position: relative; z-index: 0; }

/* originally from https://github.com/lafeber/world-flags-sprite */
.f16 .flag { width: 16px; height: 16px; background: url("../img/flags16.png") no-repeat; }
.f16 ._African_Union { background-position: 0 -16px; }
.f16 ._Arab_League { background-position: 0 -32px; }
.f16 ._ASEAN { background-position: 0 -48px; }
.f16 ._CARICOM { background-position: 0 -64px; }
.f16 ._CIS { background-position: 0 -80px; }
.f16 ._Commonwealth { background-position: 0 -96px; }
.f16 ._England { background-position: 0 -112px; }
.f16 ._European_Union { background-position: 0 -128px; }
.f16 ._Islamic_Conference { background-position: 0 -144px; }
.f16 ._Kosovo { background-position: 0 -160px; }
.f16 ._NATO { background-position: 0 -176px; }
.f16 ._Northern_Cyprus { background-position: 0 -192px; }
.f16 ._Northern_Ireland { background-position: 0 -208px; }
.f16 ._Olimpic_Movement { background-position: 0 -224px; }
.f16 ._OPEC { background-position: 0 -240px; }
.f16 ._Red_Cross { background-position: 0 -256px; }
.f16 ._Scotland { background-position: 0 -272px; }
.f16 ._Somaliland { background-position: 0 -288px; }
.f16 ._Tibet { background-position: 0 -304px; }
.f16 ._United_Nations { background-position: 0 -320px; }
.f16 ._Wales { background-position: 0 -336px; }
.f16 .ad { 
    background: url(./../img/flags/ad.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
 }
.f16 .ae {
    background: url(./../img/flags/ae.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .af {
    background: url(./../img/flags/af.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ag {
    background: url(./../img/flags/ag.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ai {
    background: url(./../img/flags/ai.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .al {
    background: url(./../img/flags/al.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .am {
    background: url(./../img/flags/am.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
/* .f16 .an {
    background: url(./../img/flags/az.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
} */
.f16 .ao {
    background: url(./../img/flags/ao.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .aq {
    background: url(./../img/flags/aq.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ar {
    background: url(./../img/flags/ar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .as {
    background: url(./../img/flags/as.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .at {
    background: url(./../img/flags/at.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .au {
    background: url(./../img/flags/au.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .aw {
    background: url(./../img/flags/aw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .az { 
    background: url(./../img/flags/az.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;   
}
.f16 .ba {
    background: url(./../img/flags/ba.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bb {
    background: url(./../img/flags/bb.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bd {
    background: url(./../img/flags/bd.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .be {
    background: url(./../img/flags/be.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bf {
    background: url(./../img/flags/bf.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bg {
    background: url(./../img/flags/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bh {
    background: url(./../img/flags/bh.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bi {
    background: url(./../img/flags/bi.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bj {
    background: url(./../img/flags/bj.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bm {
    background: url(./../img/flags/bm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bn {
    background: url(./../img/flags/bn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bo {
    background: url(./../img/flags/bo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .br {
    background: url(./../img/flags/br.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bs {
    background: url(./../img/flags/bs.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bt {
    background: url(./../img/flags/bt.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .bw {
    background: url(./../img/flags/bw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .by { 
    background: url(./../img/flags/by.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;   
}
.f16 .bz {
    background: url(./../img/flags/bz.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ca {
    background: url(./../img/flags/ca.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .cg {
    background: url(./../img/flags/cg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .cf {
    background: url(./../img/flags/cf.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .cd {
    background: url(./../img/flags/cd.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ch {
    background: url(./../img/flags/ch.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ci {
    background: url(./../img/flags/ci.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ck {
    background: url(./../img/flags/ck.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .cl {
    background: url(./../img/flags/cl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .cm {
    background: url(./../img/flags/cm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .cn {
    background: url(./../img/flags/cn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .co {
    background: url(./../img/flags/co.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .cr {
    background: url(./../img/flags/cr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .cu {
    background: url(./../img/flags/cu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .cv {
    background: url(./../img/flags/cv.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .cy {
    background: url(./../img/flags/cy.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .cz {
    background: url(./../img/flags/cz.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .de {
    background: url(./../img/flags/de.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .dj {
    background: url(./../img/flags/dj.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .dk {
    background: url(./../img/flags/dk.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .dm {
    background: url(./../img/flags/dm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .do {
    background: url(./../img/flags/do.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .dz {
    background: url(./../img/flags/dz.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ec {
    background: url(./../img/flags/ec.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ee {
    background: url(./../img/flags/ee.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .eg {
    background: url(./../img/flags/eg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .eh {
    background: url(./../img/flags/eh.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .er {
    background: url(./../img/flags/er.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .es {
    background: url(./../img/flags/es.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .et {
    background: url(./../img/flags/et.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .fi {
    background: url(./../img/flags/fi.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .fj {
    background: url(./../img/flags/fj.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .fm {
    background: url(./../img/flags/fm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .fo {
    background: url(./../img/flags/fo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .fr {
    background: url(./../img/flags/fr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ga {
    background: url(./../img/flags/ga.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gb {
    background: url(./../img/flags/gb.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gd {
    background: url(./../img/flags/gd.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ge {
    background: url(./../img/flags/ge.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gg {
    background: url(./../img/flags/gg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gh {
    background: url(./../img/flags/gh.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gi {
    background: url(./../img/flags/gi.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gl {
    background: url(./../img/flags/gl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gm {
    background: url(./../img/flags/gm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gn {
    background: url(./../img/flags/gn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gp {
    background: url(./../img/flags/gp.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gq {
    background: url(./../img/flags/gq.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gr {
    background: url(./../img/flags/gr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gt {
    background: url(./../img/flags/gt.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gu {
    background: url(./../img/flags/gu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gw {
    background: url(./../img/flags/gw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .gy {
    background: url(./../img/flags/gy.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .hk {
    background: url(./../img/flags/hk.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .hn {
    background: url(./../img/flags/hn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .hr {
    background: url(./../img/flags/hr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ht {
    background: url(./../img/flags/ht.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .hu {
    background: url(./../img/flags/hu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .id {
    background: url(./../img/flags/id.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mc {
    background: url(./../img/flags/mc.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ie {
    background: url(./../img/flags/ie.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .il {
    background: url(./../img/flags/il.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .im {
    background: url(./../img/flags/im.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .in {
    background: url(./../img/flags/in.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .iq {
    background: url(./../img/flags/iq.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ir {
    background: url(./../img/flags/ir.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .is {
    background: url(./../img/flags/is.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .it {
    background: url(./../img/flags/it.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .je {
    background: url(./../img/flags/je.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .jm {
    background: url(./../img/flags/jm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .jo {
    background: url(./../img/flags/jo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .jp {
    background: url(./../img/flags/jp.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ke {
    background: url(./../img/flags/ke.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .kg {
    background: url(./../img/flags/kg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;   
}
.f16 .kh {
    background: url(./../img/flags/kh.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ki {
    background: url(./../img/flags/ki.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .km {
    background: url(./../img/flags/km.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .kn {
    background: url(./../img/flags/kn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .kp {
    background: url(./../img/flags/kp.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .kr {
    background: url(./../img/flags/kr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .kw {
    background: url(./../img/flags/kw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ky {
    background: url(./../img/flags/ky.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .kz {
    background: url(./../img/flags/kz.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;   
}
.f16 .la {
    background: url(./../img/flags/la.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .lb {
    background: url(./../img/flags/lb.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .lc {
    background: url(./../img/flags/lc.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .li {
    background: url(./../img/flags/li.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .lk {
    background: url(./../img/flags/lk.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .lr {
    background: url(./../img/flags/lr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ls {
    background: url(./../img/flags/ls.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .lt {
    background: url(./../img/flags/lt.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .lu {
    background: url(./../img/flags/lu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .lv {
    background: url(./../img/flags/lv.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ly {
    background: url(./../img/flags/ly.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ma {
    background: url(./../img/flags/ma.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .md {
    background: url(./../img/flags/md.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;    
}
.f16 .me {
    background: url(./../img/flags/me.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mg {
    background: url(./../img/flags/mg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mh {
    background: url(./../img/flags/mh.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mk {
    background: url(./../img/flags/mk.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ml {
    background: url(./../img/flags/ml.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mm {
    background: url(./../img/flags/mm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mn {
    background: url(./../img/flags/mn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mo {
    background: url(./../img/flags/mo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mq {
    background: url(./../img/flags/mq.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mr {
    background: url(./../img/flags/mr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ms {
    background: url(./../img/flags/ms.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mt {
    background: url(./../img/flags//mt.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mu {
    background: url(./../img/flags/mu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mv {
    background: url(./../img/flags/mv.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mw {
    background: url(./../img/flags/mw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mx {
    background: url(./../img/flags/mx.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .my {
    background: url(./../img/flags/my.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .mz {
    background: url(./../img/flags/mz.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .na {
    background: url(./../img/flags/na.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .nc {
    background: url(./../img/flags/nc.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ne {
    background: url(./../img/flags/ne.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ng {
    background: url(./../img/flags/ng.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ni {
    background: url(./../img/flags/ni.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .nl {
    background: url(./../img/flags/nl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .no {
    background: url(./../img/flags/no.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .np {
    background: url(./../img/flags/np.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .nr {
    background: url(./../img/flags/nr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .nz {
    background: url(./../img/flags/nz.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .om {
    background: url(./../img/flags/om.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .pa {
    background: url(./../img/flags/pa.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .pe {
    background: url(./../img/flags/pe.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .pf {
    background: url(./../img/flags/pf.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .pg {
    background: url(./../img/flags/pg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ph {
    background: url(./../img/flags/ph.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .pk {
    background: url(./../img/flags/pk.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .pl {
    background: url(./../img/flags/pl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .pr {
    background: url(./../img/flags/pr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ps {
    background: url(./../img/flags/ps.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .pt {
    background: url(./../img/flags/pt.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .pw {
    background: url(./../img/flags/pw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .py {
    background: url(./../img/flags/py.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .qa {
    background: url(./../img/flags/qa.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .re {
    background: url(./../img/flags/re.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ro {
    background: url(./../img/flags/ro.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .rs {
    background: url(./../img/flags/rs.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ru { 
    background: url(./../img/flags/ru.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;   
}
.f16 .rw {
    background: url(./../img/flags/rw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sa {
    background: url(./../img/flags/sa.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sb {
    background: url(./../img/flags/sb.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sc {
    background: url(./../img/flags/sc.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sd {
    background: url(./../img/flags/sd.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .se {
    background: url(./../img/flags/se.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sg {
    background: url(./../img/flags/sg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .si {
    background: url(./../img/flags/si.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sk {
    background: url(./../img/flags/sk.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sl {
    background: url(./../img/flags/sl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sm {
    background: url(./../img/flags/sm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sn {
    background: url(./../img/flags/sn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .so {
    background: url(./../img/flags/so.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sr {
    background: url(./../img/flags/sr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .st {
    background: url(./../img/flags/st.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sv {
    background: url(./../img/flags/sv.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sy {
    background: url(./../img/flags/sy.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .sz {
    background: url(./../img/flags/sz.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .tc {
    background: url(./../img/flags/tc.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .td {
    background: url(./../img/flags/td.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .tg {
    background: url(./../img/flags/tg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .th {
    background: url(./../img/flags/th.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .tj {
    background: url(./../img/flags/tj.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;   
}
.f16 .tl {
    background: url(./../img/flags/tl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .tm {
    background: url(./../img/flags/tm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}
.f16 .tn {
    background: url(./../img/flags/tn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .to {
    background: url(./../img/flags/to.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .tr {
    background: url(./../img/flags/tr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .tt {
    background: url(./../img/flags/tt.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .tv {
    background: url(./../img/flags/tv.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .tw {
    background: url(./../img/flags/tw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .tz {
    background: url(./../img/flags/tz.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ua { 
    background: url(./../img/flags/ua.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;   
}
.f16 .ug {
    background: url(./../img/flags/ug.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .us {
    background: url(./../img/flags/us.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .uy {
    background: url(./../img/flags/uy.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .uz {
    background: url(./../img/flags/uz.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .va {
    background: url(./../img/flags/va.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .vc {
    background: url(./../img/flags/vc.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ve {
    background: url(./../img/flags/ve.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .vg {
    background: url(./../img/flags/vg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .vi {
    background: url(./../img/flags/vi.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .vn {
    background: url(./../img/flags/vn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .vu {
    background: url(./../img/flags/vu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ws {
    background: url(./../img/flags/ws.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .ye {
    background: url(./../img/flags/ye.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;     
}
.f16 .za {
    background: url(./../img/flags/za.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .zm {
    background: url(./../img/flags/zm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
.f16 .zw {
    background: url(./../img/flags/zw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
}
