$fontPage: 'Gilroy', Verdana, Tahoma, sans-serif;
$fontColor: #000000;
$errorColor: #FF7262;
$linearBackground: linear-gradient(90deg, #B279F7 0%, #7FA1F8 100%);
$bgColor1: #B279F7;
$bgColor2: #7FA1F8;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1; }

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote {
&:before, &:after {
    content: '';
    content: none; } }

q {
&:before, &:after {
    content: '';
    content: none; } }

table {
    border-collapse: collapse;
    border-spacing: 0; }
* {
    box-sizing: border-box;
}
html,body {
    height:100%;
}
body {
    font-family: $fontPage;
    font-style: normal;
    font-size: 14px;
}
.login-page {
    width: 100%;
    min-height: 100vh;
    .header {
        padding: 50px 90px;
        height: 120px;
        .logo {
            max-width: 110px;
            img {
                width: 100%;
            }
        }
    }
    .login-header {
        font-family: $fontPage;
        font-weight: bold;
        font-size: 44px;
        line-height: 54px;
        color: $fontColor;
        padding-bottom: 22px;
    }
    .login-header-2 {
        font-family: $fontPage;
        font-weight: normal;
        font-size: 24px;
        line-height: 27px;
        color: $fontColor;
        padding-bottom: 20px;
    }
    .btn-submit {
        width: 100%;
        max-width: 345px;
        background: linear-gradient(90deg, $bgColor2 0%, $bgColor1 35%,  #C4C4C4 70%, #C4C4C4 100%);
        background-size: 300% 100%;
        background-position: right;
        border-radius: 15px;
        font-family: $fontPage;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        padding: 17px;
        text-align: center;
        border: none;
        outline: none;
        transition: all 0.3s ease-in;
        text-decoration: none;
        display: block;
        cursor: not-allowed;
        // pointer-events: none;
        &.active {
            color: #FFFFFF;
            background-position: left;
            cursor: pointer;
            pointer-events: initial;
        }
    }
    .btn-white {
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 15px;
        cursor: pointer;
        font-family: $fontPage;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: $fontColor;
        outline: none;
        padding: 20px;
        text-align: center;
        width: 100%;
        max-width: 345px;
        text-decoration: none;
        display: block;
    }
    .login-content {
        min-height: calc(100vh - 120px);
        position: relative;
        padding-right: 90px;
        .bold {
            font-weight: 700;
        }
        .img-cont {
            height:100%;
            width: 50%;
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            overflow: hidden;
            text-align: center;
            img {
                // max-width: 100%;  
                width: 100%;
                max-width: 468px;         
            }
        }
        .detail-form-text-cont {
            position: relative;
            max-width: 345px;
            .detail-form-text {
                position: absolute;
                left: calc(100% + 20px);
                top: 20px;
                background: #FFFFFF;
                box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.03);
                border-radius: 25px;
                padding: 25px;
                font-family: $fontPage;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                color: $fontColor;
                width: 215px;
            }
        }
        .login-form,
        .agreement-form {
            padding-left: calc(50% + 50px);
            .under-header {
                font-family: $fontPage;
                font-weight: normal;
                font-size: 16px;
                line-height: 18px;
                color: $fontColor;
                padding-bottom: 20px;
                max-width: 500px;
            }
            .radio-input {
                &.has-error {
                    label {
                        color: $errorColor;
                    }
                }
                input[type=radio],
                input[type=checkbox] {
                    display: none;
                    &:checked {
                        & ~ label {
                            &::before {
                                border-color: #7FA2F8;
                            }
                            .check {
                               width: 30px;
                            }
                        }
                    }
                }
                label {
                    font-family: $fontPage;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 13px;
                    color: $fontColor;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    cursor: pointer;
                    position: relative;
                    &::before {
                        content: "";
                        width: 25px;
                        height: 25px;
                        min-width: 25px;
                        border-radius: 10px;
                        background: #FFFFFF;
                        border: 1px solid #C4C4C4;
                        margin-right: 15px;
                    }
                    .check {
                        position: absolute;
                        height: 25px;
                        bottom: 5px;
                        left: 3px;
                        width: 0px;
                        transition: width 0.3s;
                        overflow: hidden;
                        background: url(./../img/checkbox-arrow.svg);
                        background-position: left;
                        background-size: 25px auto;
                        background-repeat: no-repeat;
                    }
                }
            }
            .login-input {
                padding-top: 20px;
                &.has-error {
                    input[type=text],
                    input[type=email],
                    input[type=tel],
                    input[type=password] {
                        border-color: $errorColor;
                    }
                }
                .error-text {
                    padding-top: 5px;
                    font-size: 12pz;
                    line-height: 14px;
                    font-family: $fontPage;
                    color: $errorColor;
                }
                input[type=text],
                input[type=email],
                input[type=tel],
                input[type=password] {
                    padding: 20px 25px;
                    background: #FFFFFF;
                    border: 1px solid #C4C4C4;
                    border-radius: 15px;
                    font-family: $fontPage;
                    font-size: 13px;
                    line-height: 15px;
                    color: $fontColor;
                    outline: none;
                    width: 100%;
                    max-width: 345px;
                    &::placeholder {
                        font-family: $fontPage;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        color: $fontColor;
                    }
                }
            }
            .btn-cont {
                padding-bottom: 20px;
            }
            .btns-cont {
                padding-top: 30px;
            }
            .btn-enter-google {
                background: #FFFFFF;
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 15px;
                cursor: pointer;
                font-family: $fontPage;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                color: $fontColor;
                outline: none;
                padding: 20px;
                text-align: center;
                width: 100%;
                max-width: 345px;
                text-decoration: none;
                display: block;
                span {
                    padding-left: 55px;
                    position: relative;
                    &::before {
                        content: "";
                        width: 41px;
                        height: 41px;
                        background: url(./../img/icon-google-blue.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: inline-block;
                        position: absolute;
                        top: -12px;
                        left: 0px;
                    }
                }
            }
            .forgot-password {
                font-family: $fontPage;
                font-weight: bold;
                font-size: 10px;
                line-height: 12px;
                color: rgba(0, 0, 0, 0.2);
                text-align: right;
                display: block;
                text-decoration: none;
                outline: none;
                padding-top: 10px;
                max-width: 345px;
            }
        }
        .login-error {
            padding-top: 20px;
            font-family: $fontPage;
            font-size: 14px;
            line-height: 18px;
            color: $errorColor;
        }
    }
    .interests-content {
        text-align: center;
        padding-top: 30px;
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 30px;
        .login-header {
            font-family: $fontPage;
            font-weight: bold;
            font-size: 44px;
            line-height: 54px;
            color: $fontColor;
            padding-bottom: 22px;
        }
        .login-header-2 {
            font-family: $fontPage;
            font-weight: normal;
            font-size: 24px;
            line-height: 27px;
            color: $fontColor;
            padding-bottom: 20px;
        }
        .interests-list {
            max-width: 960px;
            padding-top: 80px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .interest-item {
                width: 25%;
                padding-bottom: 20px;
                &.show-more {
                    width: 100%;
                    & > div {
                        width: 25%;
                        margin: auto;
                    }
                }
                input[type=checkbox]{
                    display: none;
                    &:checked {
                        & ~ label {
                            background: $bgColor2;
                            .icon {
                                background: $linearBackground;
                            }
                        }
                    }
                }
                label,
                .item-label {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: calc(100% - 10px);
                    background: #E5E5E5;
                    border-radius: 30px;
                    padding: 10px 15px;
                    transition:  background 0.3s ease;
                    cursor: pointer;
                    position: relative;
                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        background: $linearBackground;
                        margin: -1px;
                        z-index: -1;
                        border-radius: 30px;
                        opacity: 0;
                        transition: opacity 0.3s ease-in;
                    }
                    .icon {
                        width: 39px;
                        height: 39px;
                        background: #C4C4C4;
                        border-radius: 50%;
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 7px;
                            left: 7px;
                            right: 7px;
                            bottom: 7px;
                            background: url(./../img/icon-hashtag.svg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                    .name {
                        text-align: center;
                        width: calc(100% - 40px);
                        font-family: $fontPage;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FFFFFF;
                        padding-right: 30px;
                        padding-left: 5px;
                    }
                }
            }
        }
        .btn-cont {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
        }
    }
    .hidden {
        display: none !important;    
    }
}
.datepicker.dropdown-menu th,
.datepicker.datepicker-inline th,
.datepicker.dropdown-menu td,
.datepicker.datepicker-inline td {
    padding: 5px;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
    background: $linearBackground;
}
@media screen and (max-width: 1250px) {
    .login-page .login-content {
        .detail-form-text-cont  {
            .detail-form-text {
                position: initial;
                width: auto;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .login-page {
        .header {
            padding: 30px 50px;
            height: 90px;
        }
        .interests-content {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}
@media screen and (max-width: 992px) {
    .login-page {
        .header {
            padding: 30px 40px;
            height: 90px;
        }
        .login-content {
            min-height: calc(100vh - 90px);
            padding-right: 40px;
        }
        .interests-content {
            padding-left: 40px;
            padding-right: 40px;
            .interests-list .interest-item {
                width: 33.3%;
                &.show-more {
                    width: 100%;
                    & > div {
                        width: 33.3%;
                        margin: auto;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .login-page {
        .header {
            padding: 30px 30px;
            height: 70px;
        }
        .interests-content {
            padding-left: 30px;
            padding-right: 30px;
            .interests-list {
                padding-top: 50px;
                .interest-item {
                    width: 50%;
                    &.show-more {
                        width: 100%;
                        & > div {
                            width: 50%;
                            margin: auto;
                        }
                    }
                }
            }
            .login-header {
                font-size: 32px;
                line-height: 38px;
            }
            .login-header-2 {
                font-size: 22px;
                line-height: 26px;
            }
        }
        .login-content {
            min-height: calc(100vh - 70px);
            padding-right: 30px;
            padding-left: 30px;
            .img-cont {
                display: none;
            }
            .login-form {
                padding-left: 0px;
                padding-top: 20px;
                max-width: 350px;
                margin: auto;
            }
            .agreement-form {
                padding-left: 0px;
                padding-top: 20px;
                .under-header {
                    max-width: none;
                }
                .btn-submit {
                    max-width: none;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .login-page {
        .header {
            .logo {
                max-width: 80px;
            }
        }
        .btn-submit {
            padding: 15px;
            max-width: 100%;
        }
        .interests-content {
            .login-header {
                font-size: 28px;
                line-height: 32px;
            }
            .login-header-2 {
                font-size: 20px;
                line-height: 24px;
            }
            .interests-list {
                padding-top: 40px;
                .interest-item {
                    width: 50%;
                    &.show-more {
                        width: 100%;
                        & > div {
                            width: 50%;
                            margin: auto;
                        }
                    }
                    label,
                    .item-label {
                        padding: 10px;
                        .icon {
                            width: 30px;
                            height: 30px;
                        }
                        .name {
                            font-size: 14px;
                            line-height: 18px;
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
        .login-content {
            .login-form,
            .agreement-form {
                max-width: 100%;
                .login-header {
                    font-size: 32px;
                    line-height: 36px;
                    padding-bottom: 15px;
                }
                .under-header {
                    padding-bottom: 20px;
                }
                .login-input {
                    padding-top: 15px;
                    input[type=text],
                    input[type=email],
                    input[type=tel],
                    input[type=password] {
                        padding: 15px 15px;
                        max-width: 100%;
                    }
                }
                .btns-cont {
                    padding-top: 20px;
                }
                .btn-enter-google {
                    padding: 15px;
                    max-width: 100%;
                    span {
                        padding-left: 45px;
                        &::before {
                            width: 33px;
                            height: 33px;
                            top: -9px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .login-page {
        .interests-content {
            .login-header {
                font-size: 24px;
                line-height: 28px;
            }
            .login-header-2 {
                font-size: 18px;
                line-height: 22px;
            }
            .interests-list {
                padding-top: 40px;
                .interest-item {
                    width: 100%;
                    &.show-more {
                        width: 100%;
                        & > div {
                            width: 100%;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 350px) {
    .login-page .header {
        padding: 30px 20px;
    }
    .login-page .login-content,
    .login-page .interests-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .login-page .login-content .login-form .login-header,
    .login-page .login-content .agreement-form .login-header {
        font-size: 28px;
        line-height: 32px;
    }
}